[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
#scikit-learn = "*"
scikit-learn = "==1.2.2"
ipykernel = "*"
numpy = "*"
matplotlib = "*"
seaborn = "*"
imbalanced-learn = "*"

[dev-packages]

[requires]
python_version = "3"
